/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
	--gemmy-size: 180px;
}

.gemmy-container {
	position: fixed;
	bottom: 30px;
	left: 30px; /* <--- ĐỔI THÀNH 'left' */
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* <--- ĐỔI THÀNH 'flex-start' */
	gap: 8px;
}

.gemmy-container img {
	width: var(--gemmy-size);
	height: var(--gemmy-size);
	border-radius: var(--gemmy-size);
}

.gemmy-container[aria-label]::before {
	--background-modifier-message: #ffffcb;
	content: attr(aria-label);
	color: #202021;
	font-size: var(--font-ui-medium);
	border-radius: 20px;
	padding: var(--size-4-3) var(--size-4-6);
	width: 150px;
	background: var(--background-modifier-message);

	white-space: pre-wrap;
}
